<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220358718342-2595utn5nea71gj4erff1akrbtcstuct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220358718342-2595utn5nea71gj4erff1akrbtcstuct</string>
	<key>API_KEY</key>
	<string>AIzaSyBgyV8RFcEJe0EcqQRjfd4ddUWHmxvQMZg</string>
	<key>GCM_SENDER_ID</key>
	<string>220358718342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatripple.chatripple</string>
	<key>PROJECT_ID</key>
	<string>chatripple-40fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatripple-40fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220358718342:ios:2130d415132784194a3207</string>
</dict>
</plist>